<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medicinereminder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.medicinereminder.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.medicinereminder.UserInfoActivity"/>
        <activity android:name="com.example.medicinereminder.MedicationActivity"/>
        <activity android:name="com.example.medicinereminder.AppointmentsActivity"/>
        <activity android:name="com.example.medicinereminder.SetRefillsActivity"/>
        <activity android:name="com.example.medicinereminder.SetReminderActivity"/>
        <activity android:name="com.example.medicinereminder.ReminderTimeActivity"/>
        <activity android:name="com.example.medicinereminder.ReminderTimeActivity2"/>
        <activity android:name="com.example.medicinereminder.TakeOption"/>
        <activity android:name="com.example.medicinereminder.Avatar"/>
        <activity android:name="com.example.medicinereminder.Tutorial"/>
        <receiver android:process=":remote" android:name=".Mote"></receiver>
    </application>

</manifest>